.intro_h1{
    margin: 0px;
    color: #fff;
    text-transform: uppercase;
}

.m-t-20{
    margin: 20px 0px 0px 0px;
}

.intro_p{
    margin: 0px;
    color: #fff;
}

.m-t-25{
    margin: 25px 0px 0px 0px;
}